<h1><%= t('activerecord.models.task.edit_task') %></h1>

<%= render partial: 'partials/task/form', locals: {parent_template: 'edit'} %>

<%= link_to 'Show', @task, class: 'btn btn-default', role: 'button' %> |
<%= link_to 'Back', tasks_path, class: 'btn btn-default', role: 'button' %>
