<%
  provide(:title, 'Новая задача')
  provide(:active, 'tasks')
%>
<h1><%= t('activerecord.models.task.new_task') %></h1>

<%= render partial: 'partials/task/form', locals: {parent_template: 'new'} %>

<%= link_to 'Back', tasks_path, class: 'btn btn-default', role: 'button' %>
